# ide's
.vscode
.idea

# docker
dockerfile
.dockerignore

# git
.git
.gitignore
.github

# node stuff
node_modules
npm-debug.log

# vite
dist

# dev
.jsbeautifyrc
.jshintrc
.nvmrc
.eslint.config.js

# misc
readme.md
LICENSE